.Header{
    background-color: #F2F3F4;
    padding:2rem 2rem 1rem;
    position:sticky;
    top:0;
    >h2{
        margin-bottom: 1.8rem;
       >span{
           font-weight: bold;
           color: #5C68FF;
       }
    }
    &Top{
        margin-bottom: 1.5rem;
        &Search{
            display:flex;
            background-color: #fff;
            align-items: center;
            border-radius: 8px;
            padding:0.4rem 1rem;
            
            >input{
                flex:1;
                background-color: #fff;
                outline-width: 0;
                border:0;
            }
        }
    }
}
